{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;800;900&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/4215895d94.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" type="image/png" href="img/favicon.ico" />

    <title>MACHRONICS | Technology</title>

    <link rel="stylesheet" href="{% static 'home/css/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/jquery.mCustomScrollbar.min.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/flickity.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'home/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'home/css/3dp_css.css' %}">
</head>
<body>
    {% block content %}{% endblock %}

    <script src="{% static 'home/js/jquery-3.4.1.min.js' %}"></script>
    <script src="{% static 'home/js/popper.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap4/bootstrap.min.js' %}"></script>
    <script src="{% static 'home/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script src="{% static 'home/js/flickity.pkgd.js' %}"></script>
    <script defer="" src="{% static 'home/js/owl-carousel.min.js' %}"></script>
    <script src="{% static 'home/js/bootstrap4/bootstrap.js' %}"></script>
    <script src="{% static 'home/js/jquery.bootstrap.modal.forms.js' %}"></script>
    <script src="{% static 'home/js/jquery.bootstrap.modal.forms.min.js' %}"></script>
    <script defer src="{% static 'home/js/solid.js' %}"></script>
    <script defer src="{% static 'home/js/fontawesome.js' %}"></script>
    <script src="{% static 'home/js/iconify.min.js' %}"></script>

    {% block js %}{% endblock %}

</body>
</html>