{% extends "home/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="header" id="header">
        {% include "home/header.html" %}
    </div>

    <div class="c_container">
      <!-- Profile Page -->
      <!-- welcome text -->
      <div class="top-text">
        <h1 class="welcome-text">
          <span class="welcome">Welcome, </span>
          <span class="uName">{{ user.first_name }} {{ user.last_name }}</span>
        </h1>
      </div>

      <!-- orderd product list -->

      <div class="user-dahboard">
        <!-- Product card -->
        <div class="user-orderd">
          <div class="bottom-text">
            <h2 class="order-text">Purchase History</h2>
          </div>
          {% for order in orders %}
          <div class="product-card">
            <!-- product image -->
            <div class="product-card__img">
              <img src="{% static 'home/images/product-photo.jpg' %}" alt="" />
            </div>
            <div class="product-card__info">
              <!-- product title -->
              <h4 class="product-card__title">Order ID: {{ order.order_id_no }}</h4>
              <!-- about product -->
              <p class="product-card__text">
                Product description: Bed Size({{ order.bed_size }} square mm), Height({{ order.height }} mm), {{ order.nozzle }} Nozzle,
                Display type({{order.display}}), Motor driver type({{ order.motor_driver_type }}), Includes cover({{ order.cover }}),
                Includes filament chamber({{ order.filament_chamber }}), Includes UPS module({{ order.ups_module }}),
                Includes Auto Bed Leveling feature({{ order.abl }}), Includes Wifi conectivity({{ order.wifi }}),
                Filament quantity({{ order.filament }}).
              </p>
              <!-- product Quantity -->
              <h5 class="product-card__quantity">
                <span class="title-quantity">Quantity:</span>
                <span class="number" style="margin-left: 5px">1</span>
              </h5>
              <!-- product Price -->
              <h5 class="product-card__price">
                <span class="title-price">Price:</span>
                <span class="number-price">{{ order.price }}</span>
                <span class="bdt">BDT</span>
              </h5>
              <!-- product Delivary Status -->
              <h5 class="product-card__status">
                <span class="title-status">Status:</span>
              </h5>
              <div class="step-progressBar">
                <div class="container">
                  <ul class="progressbar">
                    {% if order.order_status == 'pending' %}
                    <li class="">Confirmed</li>
                    <li class="">Processing</li>
                    <li class="">Delivered</li>
                    {% elif order.order_status == 'confirmed' %}
                    <li class="active">Confirmed</li>
                    <li class="">Processing</li>
                    <li class="">Delivered</li>
                    {% elif order.order_status == 'processing' %}
                    <li class="active">Confirmed</li>
                    <li class="active">Processing</li>
                    <li class="">Delivered</li>
                    {% elif order.order_status == 'delivered' %}
                    <li class="active">Confirmed</li>
                    <li class="active">Processing</li>
                    <li class="active">Delivered</li>
                    {% else %}
                    <li class="">Confirmed</li>
                    <li class="">Processing</li>
                    <li class="">Delivered</li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              <a href="#" class="btn-text">Learn More</a>
            </div>
          </div>
          {% endfor %}
          <!-- <div class="see-more">
            <a href="#" class="see-more__btn">See More</a>
          </div> -->
        </div>

        <!-- User Profile -->
        <div class="userProfileCard">
          <div class="bottom-text">
            <h2 class="order-text">User Profile</h2>
          </div>
          <div class="userProfile">
            <div class="img-container">
              <img src="{% static 'home/images/user-profile.png' %}" alt="Profile Img" />
            </div>
            <div class="userProfile__name">
              <h3 class="name">
                <span class="firstName">{{ user.first_name }}</span>
                <span class="LastName">{{ user.last_name }}</span>
              </h3>
            </div>
            <div class="userProfile__username">
              <h5 class="username">
                <i class="fas fa-at" style="margin-right: 5px"></i>{{ user.username }}
              </h5>
            </div>
            <div class="userProfile__email">
              <h5 class="email">
                <i class="fas fa-envelope icolor" style="margin-right: 10px"></i
                >{{ user.email }}
              </h5>
            </div>
            <div class="userProfile__phone">
              <h5 class="phone">
                <i
                  class="fas fa-phone-alt icolor"
                  style="margin-right: 10px"
                ></i
                >{% for profile in profiles %}{% if profile.user == user %}{{ profile.phone }}{% endif %}{% endfor %}
              </h5>
            </div>
            <div class="userProfile__adderss">
              <h5 class="address">
                <i
                  class="fas fa-map-marker-alt icolor"
                  style="margin-right: 10px"
                ></i
                >{% for profile in profiles %}{% if profile.user == user %}{{ profile.address }}, {{ profile.address2 }}, {{ profile.city }}, {{ profile.state }}-{{ profile.zip }}{% endif %}{% endfor %}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include "home/footer.html" %}
{% endblock content %}

{% block js %}
{% endblock js %}