{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
<div class="footer-custom">
    <div class="footer-custom-inner-div">
        <div class="row">
            <div class="col-md footer-custom-inner-div-col-div-1">
                <a class="footer-custom-inner-div-col-div-1-a-1">
                   Machronics Geo
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-1-a-2">
                    Machronics is  a dedicated company for 3D printer, 3D printing and tech solution.
                    You can get your desired 3D printed product with neat and clean details at a reasonable price.
                </a>
                <br>
                <br>
                <div class="footer-custom-inner-div-col-div-1-inner-div">
                    <div class="footer-custom-inner-div-col-div-1-inner-div-inner-div">
                        <img class="footer-custom-inner-div-col-div-1-inner-div-inner-div-img" src="{% static 'home/images/fb-logo-150x150.png' %}">
                    </div>
                    <div class="footer-custom-inner-div-col-div-1-inner-div-inner-div-2">
                        <a class="footer-custom-inner-div-col-div-1-inner-div-inner-div-2-a">
                           Follow us
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md footer-custom-inner-div-col-div-2">
                <a class="footer-custom-inner-div-col-div-2-a-1">
                   Services
                </a>
                <br>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-2-a-2">
                   Manufacturing
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-2-a-2">
                   Customization
                </a>
                <br>

            </div>
            <div class="col-md footer-custom-inner-div-col-div-3">
                <a class="footer-custom-inner-div-col-div-3-a-1">
                   Products Type
                </a>
                <br>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-3-a-2">
                   3D printer
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-3-a-2">
                   3d Printer Accessories
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-3-a-2">
                   Customized 3D printer
                </a>
                <br>
                <br>
                <a class="footer-custom-inner-div-col-div-3-a-2">
                   3D printer filament
                </a>
                <br>
                <br>
            </div>
            <div class="col-md footer-custom-inner-div-col-div-4">
                <img class="footer-custom-inner-div-col-div-4-img" src="{% static 'home/images/icon.png' %}">
            </div>
        </div>
    </div>
</div>