{% extends "home/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
    {% include "home/header.html" %}
    <div class="site-content">
        <div class="welcome_bg">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for offer in best_offers %}
                    {% if offer.id == 1 %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ offer.id|add:"-1" }}" class="active"></li>
                    {% else %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ offer.id|add:"-1" }}"></li>
                    {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for offer in best_offers %}
                    {% if offer.id == 1 %}
                    <div class="carousel-item active">
                        <div class="row header__info">
                            <div class="col-md-8">
                                <span class="header__info-top">3D Printer</span>
                                <h1 class="header__info-title">{{ offer.title }}</h1>
                                <p class="header__info-product_dis">
                                    {{ offer.description }}
                                </p>
                                <!-- <a href="#" class="header__info-learn_more">Learn More</a> -->
                                <span class="header__info-special_feature">Special Feature</span>
                                <span class="header__info-feature">- {{ offer.feature1 }}</span>
                                <span class="header__info-feature">- {{ offer.feature2 }}</span>
                                <span class="header__info-feature">- {{ offer.feature3 }}</span>
                                <span class="header__info-price">Price: {{ offer.price }} BDT</span>

                                {% if user.is_authenticated %}
                                    <a href="#" class="button button-white" style="float: left">
                                        <i class="fas fa-shopping-cart"></i> add to cart
                                    </a>
                                    <a href="#" class="button button-outline">customize</a>
                                {% else %}
                                    <a href="{% url 'login_register' log_or_reg="login" %}" class="button button-white" style="float: left">
                                        <i class="fas fa-shopping-cart"></i> add to cart
                                    </a>
                                    <a href="{% url 'login_register' log_or_reg="login" %}" class="button button-outline">customize</a>
                                {% endif %}


                            </div>
                            <div class="col-md-4 header__img">
                                <img
                                    class="header__img-size"
                                    src="{% static 'home/images/3d_printer.png' %}"
                                    alt="3d Printer"
                                />
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="carousel-item">
                        <div class="row header__info" >
                            <div class="col-md-8">
                                <span class="header__info-top">3D Printer</span>
                                <h1 class="header__info-title">{{ offer.title }}</h1>
                                <p class="header__info-product_dis">
                                    {{ offer.description }}
                                </p>
                                <!-- <a href="#" class="header__info-learn_more">Learn More</a> -->
                                <span class="header__info-special_feature">Special Feature</span>
                                <span class="header__info-feature">- {{ offer.feature1 }}</span>
                                <span class="header__info-feature">- {{ offer.feature2 }}</span>
                                <span class="header__info-feature">- {{ offer.feature3 }}</span>
                                <span class="header__info-price">Price: {{ offer.price }} BDT</span>

                                {% if user.is_authenticated %}
                                    <a href="#" class="button button-white" style="float: left">
                                        <i class="fas fa-shopping-cart"></i> add to cart
                                    </a>
                                    <a href="#" class="button button-outline">customize</a>
                                {% else %}
                                    <a href="{% url 'login_register' log_or_reg="login" %}" class="button button-white" style="float: left">
                                        <i class="fas fa-shopping-cart"></i> add to cart
                                    </a>
                                    <a href="{% url 'login_register' log_or_reg="login" %}" class="button button-outline">customize</a>
                                {% endif %}

                            </div>
                            <div class="col-md-4 header__img">
                                <img
                                    class="header__img-size"
                                    src="{% static 'home/images/3d_printer.png' %}"
                                    alt="3d Printer"
                                />
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

        <div style="width: 100%; height: auto; padding-left: 20px;">
            <div class="row margin_0 padding_0" style="width: 100%;">
                {% for offer in best_offers %}
                <div class="col-md productCard_outer_div padding_0">
                    <div class=" {% if offer.id == 2 %}pColor2{% else %}pColor1{% endif %}">
                        <div style="padding: 20px 20px 20px 20px;">
                            <div class="col-sm productCard__info">
                                <h2 class="productCard__info-title">{{ offer.title }}</h2>
                                <span class="productCard__info-special_feature">
                                    special feature
                                </span>
                                <span class="productCard__info-feature">- {{ offer.feature1 }}</span>
                                <span class="productCard__info-feature">- {{ offer.feature2 }}</span>
                                <span class="productCard__info-feature">- {{ offer.feature3 }}</span>
                                <span class="productCard__info-price">Price: {{ offer.price }} BDT</span>
                                {% if user.is_authenticated %}
                                <div style="margin-top: 20px; margin-bottom: 20px;">
                                    <a href="#" class="buttonSmall-red">
                                        <i class="fas fa-shopping-cart"></i> add to cart
                                    </a>
                                </div>

                                <div style="margin-top: 20px; margin-bottom: 20px;">
                                    <a href="#" class="buttonSmall-outlineRed">customize</a>
                                </div>
                                {% else %}
                                <div style="margin-top: 20px; margin-bottom: 20px;">
                                    <a href="{% url 'login_register' log_or_reg="login" %}" class="buttonSmall-red">
                                        <i class="fas fa-shopping-cart"></i> add to cart
                                    </a>
                                </div>

                                <div style="margin-top: 20px; margin-bottom: 20px;">
                                    <a href="{% url 'login_register' log_or_reg="login" %}" class="buttonSmall-outlineRed">customize</a>
                                </div>
                                {% endif %}

                            </div>
                            <div class="col-sm productCard__img">
                                <img
                                    class="productCard__img-size"
                                    src="{% static 'home/images/3d_prpColor1inter.png' %}"
                                    alt="3d Printer"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div style="width: 100%; height: auto">
            <div style="text-align: center; width: 100%; margin-top: 60px;">
                <div class="topTitle">
                    <h4 class="title">
                        <span class="subTitle">Make your Own</span>
                        <span class="mainTitle">Customize 3D Printer</span>
                    </h4>
                </div>
            </div>
            <div class="container-fluid infoBox">
                <div class="row">
                    <div class="col-8">
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName">Bed Size (MM)</span>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeBed"
                                    id="220"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="220" class="lbl-redio">220 X 220</label>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeBed"
                                    id="300"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="300" class="lbl-redio">300 X 300</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeBed"
                                    id="440"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="440" class="lbl-redio">440 X 440</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeBed"
                                    id="660"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="660" class="lbl-redio">600 X 600</label>
                            </div>
                        </div>
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName"> height (mm) </span>
                            </div>
                            <div class="col">
                                <select class="form-select" aria-label="Default select example">
                                    <option value="1">150</option>
                                    <option value="2">160</option>
                                    <option value="3">170</option>
                                    <option value="4">180</option>
                                    <option value="5">190</option>
                                    <option value="6">200</option>
                                    <option value="7">210</option>
                                    <option value="8">220</option>
                                    <option value="9">230</option>
                                    <option value="10">240</option>
                                    <option value="11">250</option>
                                    <option value="12">260</option>
                                    <option value="13">270</option>
                                    <option value="14">280</option>
                                    <option value="15">290</option>
                                    <option value="15">300</option>
                                </select>
                            </div>
                        </div>
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName">Nozzel</span>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeNozzel"
                                    id="Duel"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="Duel" class="lbl-redio">Duel</label>
                            </div>

                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeNozzel"
                                    id="Single"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="Single" class="lbl-redio">Single</label>
                            </div>
                        </div>
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName">Display</span>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeDisplay"
                                    id="Touch"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="Touch" class="lbl-redio">Touch</label>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeDisplay"
                                    id="Knob"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="Knob" class="lbl-redio">Knob</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeDisplay"
                                    id="Touch+Knob"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="Touch+Knob" class="lbl-redio">Touch + Knob</label>
                            </div>
                        </div>
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName">Motor Driver</span>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeMotor"
                                    id="Silent"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="Silent" class="lbl-redio">Silent</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeMotor"
                                    id="Normal"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="Normal" class="lbl-redio">Normal</label>
                            </div>
                        </div>
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName">Cover</span>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeCover"
                                    id="y1"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="y1" class="lbl-redio">Yes</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeCover"
                                    id="n1"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="n1" class="lbl-redio">No</label>
                            </div>
                        </div>
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName">Fillament Chamber</span>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeChamber"
                                    id="y2"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="y2" class="lbl-redio">Yes</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeChamber"
                                    id="n2"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="n2" class="lbl-redio">No</label>
                            </div>
                        </div>
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName">UPS Module</span>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeUPS"
                                    id="y3"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="y3" class="lbl-redio">Yes</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeUPS"
                                    id="n3"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="n3" class="lbl-redio">No</label>
                            </div>
                        </div>
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName">Auto Bed Leveling</span>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeABL"
                                    id="y4"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="y4" class="lbl-redio">Yes</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeABL"
                                    id="n4"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="n4" class="lbl-redio">No</label>
                            </div>
                        </div>
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName">Wifi Connectivity</span>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeWifi"
                                    id="y5"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="y5" class="lbl-redio">Yes</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeWifi"
                                    id="n5"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="n5" class="lbl-redio">No</label>
                            </div>
                        </div>
                        <div class="row selector">
                            <div class="col-3 offset-md-1">
                                <span class="productName">Filament</span>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeFilament"
                                    id="1kg"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="1kg" class="lbl-redio">1kg</label>
                            </div>
                            <div class="col-2">
                                <input
                                    type="radio"
                                    name="productTypeFilament"
                                    id="2kg"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="2kg" class="lbl-redio">2kg</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="productTypeFilament"
                                    id="3kg"
                                    class="hidebx"
                                    value=""
                                />
                                <label for="3kg" class="lbl-redio">3kg</label>
                            </div>
                        </div>
                    </div>

                    <div class="col contentBox">
                        <div class="productPicInfo">
                            <img class="productPicInfo-img" src="{% static 'home/images/3d_printer.png' %}" alt="product name" />
                            <h3 class="productPicInfo-name">Product Name</h3>
                            <h4 class="productPicInfo-price">10,000 BDT</h4>
                            <a href="#" class="buttonSmall buttonSmall-outlineDark">Place Order</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "home/footer.html" %}
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript">
      $('.carousel').carousel({
        interval: 5000
      })
    </script>
{% endblock js %}
