{% extends "home/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
    {% include "home/header.html" %}
    <div class="space"></div>
    <div class="header" id="header">
      <div class="main">
        <div class="glide" id="glide_1">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              {% for offer in best_offers %}
              <li class="glide__slide">
                <div class="main_center">
                  <div class="main__left">
                    <span class="header__info-top">3D Printer</span>
                    <h1 class="header__info-title">{{ offer.title }}</h1>
                    <p class="header__info-product_dis">
                      {{ offer.description }}
                    </p>
                    <a href="#" class="header__info-learn_more">Learn More</a>
                    <span class="header__info-special_feature">Special Feature</span>
                    <span class="header__info-feature">- {{ offer.feature1 }}</span>
                    <span class="header__info-feature">- {{ offer.feature2 }}</span>
                    <span class="header__info-feature">- {{ offer.feature3 }}</span>
                    <span class="header__info-price">Price: {{ offer.price }} BDT</span>

                    <a href="" class="buton buton-white" onclick="place_known_order('{{ offer.title }}')">Shop now</a>
                    {% if user.is_authenticated %}
                    <a href="#link_customize" class="buton buton-outline">customize</a>
                    {% else %}
                    <a href="{% url 'login_register' log_or_reg='login' %}" class="buton buton-outline">customize</a>
                    {% endif %}
                  </div>
                  <div class="main__right">
                    <div class="main__img-container">
                      <img
                        src="{{ offer.image.image.url }}"
                        alt="Printer 0{{ offer.id }}"
                        class="printer_0{{ offer.id }}"
                      />
                    </div>
                  </div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>

          <div class="glide__bullets" data-glide-el="controls[nav]">
            <button class="glide__bullet" data-glide-dir="=0"></button>
            <button class="glide__bullet" data-glide-dir="=1"></button>
            <button class="glide__bullet" data-glide-dir="=2"></button>
          </div>

          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
              <svg>
                <use xlink:href="{% static 'home/images/sprite.svg' %}#icon-arrow-left2"></use>
              </svg>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
              <svg>
                <use xlink:href="{% static 'home/images/sprite.svg' %}#icon-arrow-right2"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- product -->
    <main id="product">
      <!-- collection -->
      <section class="section collection" id="collection">
        <div class="p_container">
          <div class="collection__container">
            {% for product in own_products %}
            <div class="collection__box">
              <div class="img__container">
                <img src="{{ product.image_link }}" alt="" class="collection_01" />
              </div>
              <div class="collection__content">
                <div class="collection__data">
                  <span>3D Printer</span>
                  <h2>{{ product.title }}</h2>
                  <a href="{{ product.product_link }}">Shop Now</a>
                  {% if user.is_authenticated %}
                  <a href="#link_customize">customize</a>
                  {% else %}
                  <a href="{% url 'login_register' log_or_reg='login' %}">customize</a>
                  {% endif %}
                </div>
              </div>
            </div>
            {% endfor %}

          </div>
        </div>
      </section>

      <!-- letest Product -->
      <div class="p_container">
        <section class="section letest__product" id="letest">
          <div class="title__container">
            <div class="section__titles active" data-id="Latest Product">
              <h2 class="primary__title">Latest Product</h2>
            </div>
          </div>
          <div class="p_container">
            <div class="glide" id="glide_2">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides latest-center">
                  {% for product in latest_products %}
                  <li class="glide__slide">
                    <div class="product">
                      <div class="product__header">
                        <img src="{{ product.image_link }}" alt="">
                      </div>
                      <div class="product__footer">
                        <h3>{{ product.title }}</h3>
                        <div class="rating">
                          <svg>
                            <use xlink:href="{% static 'home/images/sprite.svg' %}#icon-star-full"></use>
                          </svg>
                          <svg>
                            <use xlink:href="{% static 'home/images/sprite.svg' %}#icon-star-full"></use>
                          </svg>
                          <svg>
                            <use xlink:href="{% static 'home/images/sprite.svg' %}#icon-star-full"></use>
                          </svg>
                          <svg>
                            <use xlink:href="{% static 'home/images/sprite.svg' %}#icon-star-full"></use>
                          </svg>
                          <svg>
                            <use xlink:href="{% static 'home/images/sprite.svg' %}#icon-star-full"></use>
                          </svg>
                        </div>
                        <div class="product__price">
                          <h4>
                            <sapn>{{ product.price }}</sapn>
                            <sapn style="margin-left: 4px;">BDT</sapn>
                          </h4>
                          <a href="{{ product.product_link }}">
                            <button type="button" class="product__btn">
                              Add To Cart
                            </button>
                          </a>
                        </div>
                      </div>
                    </div>
                  </li>
                  {% endfor %}
                </ul>
              </div>

              <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                  <svg>
                    <use xlink:href="{% static 'home/images/sprite.svg' %}#icon-arrow-left2"></use>
                  </svg>
                </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                  <svg>
                    <use xlink:href="{% static 'home/images/sprite.svg' %}#icon-arrow-right2"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- Customizer -->
      {% if user.is_authenticated %}
      <div class="p_container" id="link_customize">
        <section class="customizer">
          <div class="topTitle">
            <h4 class="title">
              <span class="subTitle">Make your Own</span>
              <span class="mainTitle">Customize 3D Printer</span>
            </h4>
          </div>
          <div class="container-fluid infoBox">
            <div class="wraper">
              <div class="options">
                <!-- Bed Size -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName">Bed Size (MM)</span>
                  </div>
                  {% for bed in bed_size %}
                  <div class="col">
                    <input
                      type="radio"
                      name="{{ bed.field_name }}"
                      id="{{ bed.field_name }}_{{ bed.title }}"
                      class="hidebx"
                      value="{{ bed.title }}"
                    /><label for="{{ bed.field_name }}_{{ bed.title }}" class="lbl-redio">{{ bed.title }}</label>
                  </div>
                  {% if bed.id == 1 %}
                  <script type="text/javascript">
                    var id = "{{ bed.field_name }}" + '_' + "{{ bed.title }}";
                    var  ele = document.getElementById(id);
                    ele.checked = true;
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- Height -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName"> height (mm) </span>
                  </div>
                  <div class="col">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                      id = "h_select"
                      onchange = "update_price()"
                    >
                      {% for h in height %}{% for bed in bed_size %}{% if bed.id == 1 and bed.title == h.bed_size %}<option value="{{ h.title }}">{{ h.title }}</option>{% endif %} {% endfor %} {% endfor %}
                    </select>
                  </div>
                </div>

                <!-- Nozzel -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName">Nozzel</span>
                  </div>
                  {% for noz in nozzle %}
                  <div class="col">
                    <input
                      type="radio"
                      name="{{ noz.field_name }}"
                      id="{{ noz.field_name }}_{{ noz.title }}"
                      class="hidebx"
                      value="{{ noz.title }}"
                    /><label for="{{ noz.field_name }}_{{ noz.title }}" class="lbl-redio">{{ noz.title }}</label>
                  </div>
                  {% if noz.id == 1 %}
                  <script type="text/javascript">
                    var id = "{{ noz.field_name }}" + '_' + "{{ noz.title }}";
                    var  ele = document.getElementById(id);
                    ele.checked = true;
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- Display -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName">Display</span>
                  </div>
                  {% for dis in display %}
                  <div class="col">
                    <input
                      type="radio"
                      name="{{ dis.field_name }}"
                      id="{{ dis.field_name }}_{{ dis.title }}"
                      class="hidebx"
                      value="{{ dis.title }}"
                    /><label for="{{ dis.field_name }}_{{ dis.title }}" class="lbl-redio">{{ dis.title }}</label>
                  </div>
                  {% if dis.id == 1 %}
                  <script type="text/javascript">
                    var id = "{{ dis.field_name }}" + '_' + "{{ dis.title }}";
                    var  ele = document.getElementById(id);
                    ele.checked = true;
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- Motor Driver -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName">Motor Driver</span>
                  </div>
                  {% for mot in motor_driver %}
                  <div class="col">
                    <input
                      type="radio"
                      name="{{ mot.field_name }}"
                      id="{{ mot.field_name }}_{{ mot.title }}"
                      class="hidebx"
                      value="{{ mot.title }}"
                    /><label for="{{ mot.field_name }}_{{ mot.title }}" class="lbl-redio">{{ mot.title }}</label>
                  </div>
                  {% if mot.id == 1 %}
                  <script type="text/javascript">
                    var id = "{{ mot.field_name }}" + '_' + "{{ mot.title }}";
                    var  ele = document.getElementById(id);
                    ele.checked = true;
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- cover -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName">Cover</span>
                  </div>
                  {% for cov in cover %}
                  <div class="col">
                    <input
                      type="radio"
                      name="{{ cov.field_name }}"
                      id="{{ cov.field_name }}_{{ cov.title }}"
                      class="hidebx"
                      value="{{ cov.title }}"
                    /><label for="{{ cov.field_name }}_{{ cov.title }}" class="lbl-redio">{{ cov.title }}</label>
                  </div>
                  {% if cov.id == 1 %}
                  <script type="text/javascript">
                    var id = "{{ cov.field_name }}" + '_' + "{{ cov.title }}";
                    var  ele = document.getElementById(id);
                    ele.checked = true;
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- Fillament Chamber -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName">Fillament Chamber</span>
                  </div>
                  {% for fil_c in filament_chamber %}
                  <div class="col">
                    <input
                      type="radio"
                      name="{{ fil_c.field_name }}"
                      id="{{ fil_c.field_name }}_{{ fil_c.title }}"
                      class="hidebx"
                      value="{{ fil_c.title }}"
                    /><label for="{{ fil_c.field_name }}_{{ fil_c.title }}" class="lbl-redio">{{ fil_c.title }}</label>
                  </div>
                  {% if fil_c.id == 1 %}
                  <script type="text/javascript">
                    var id = "{{ fil_c.field_name }}" + '_' + "{{ fil_c.title }}";
                    var  ele = document.getElementById(id);
                    ele.checked = true;save_form
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- UPS Module -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName">UPS Module</span>
                  </div>
                  {% for ups in ups_module %}
                  <div class="col">
                    <input
                      type="radio"
                      name="{{ ups.field_name }}"
                      id="{{ ups.field_name }}_{{ ups.title }}"
                      class="hidebx"
                      value="{{ ups.title }}"
                    /><label for="{{ ups.field_name }}_{{ ups.title }}" class="lbl-redio">{{ ups.title }}</label>
                  </div>
                  {% if ups.id == 1 %}
                  <script type="text/javascript">
                    var id = "{{ ups.field_name }}" + '_' + "{{ ups.title }}";
                    var  ele = document.getElementById(id);
                    ele.checked = true;
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- Auto Bed Leveling -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName">Auto Bed Leveling</span>
                  </div>
                  {% for abl in abls %}
                  <div class="col">
                    <input
                      type="radio"
                      name="{{ abl.field_name }}"
                      id="{{ abl.field_name }}_{{ abl.title }}"
                      class="hidebx"
                      value="{{ abl.title }}"
                    /><label for="{{ abl.field_name }}_{{ abl.title }}" class="lbl-redio">{{ abl.title }}</label>
                  </div>
                  {% if abl.id == 1 %}
                  <script type="text/javascript">
                    var id = "{{ abl.field_name }}" + '_' + "{{ abl.title }}";
                    var  ele = document.getElementById(id);
                    ele.checked = true;
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- Wifi Connectivity -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName">Wifi Connectivity</span>
                  </div>
                  {% for wf in wifi %}
                  <div class="col">
                    <input
                      type="radio"
                      name="{{ wf.field_name }}"
                      id="{{ wf.field_name }}_{{ wf.title }}"
                      class="hidebx"
                      value="{{ wf.title }}"
                    /><label for="{{ wf.field_name }}_{{ wf.title }}" class="lbl-redio">{{ wf.title }}</label>
                  </div>
                  {% if wf.id == 1 %}
                  <script type="text/javascript">
                    var id = "{{ wf.field_name }}" + '_' + "{{ wf.title }}";
                    var  ele = document.getElementById(id);
                    ele.checked = true;
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>

                <!-- Fillament -->
                <div class="row selector">
                  <div class="col-3 offset-md-1">
                    <span class="productName">Fillament</span>
                  </div>
                  {% for fil_q in filament_quantity %}
                  <div class="col">
                    <input
                      type="radio"
                      name="{{ fil_q.field_name }}"
                      id="{{ fil_q.field_name }}_{{ fil_q.title }}"
                      class="hidebx"
                      value="{{ fil_q.title }}"
                    /><label for="{{ fil_q.field_name }}_{{ fil_q.title }}" class="lbl-redio">{{ fil_q.title }}</label>
                  </div>
                  {% if fil_q.id == 1 %}
                  <script type="text/javascript">
                    var id = "{{ fil_q.field_name }}" + '_' + "{{ fil_q.title }}";
                    var  ele = document.getElementById(id);
                    ele.checked = true;
                  </script>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>

              <!-- product display -->
              <div class="display contentBox">
                <div class="productPicInfo">
                  <img
                    class="productPicInfo-img"
                    src="{% static 'home/images/3d_printer.png' %}"
                    alt="product name"
                  />
                  <h3 class="productPicInfo-name">Customized 3D printer</h3>
                  <h4 class="productPicInfo-price" id="final_price">0 BDT</h4>
                  <!--<a href="#" class="buttonSmall buttonSmall-outlineDark"
                    >learn more</a
                  >-->
                </div>
              </div>
            </div>
            <!-- submit button -->
            <div class="submitbtn" style="margin-top: 5rem;">
              <input type="submit" value="confirm" onclick="save_data()">
            </div>
          </div>
        </section>
      </div>
      {% else %}
      <div class="p_container">
        <section class="customizer">
          <div class="topTitle">
            <h4 class="title">
              <span class="subTitle">Make your Own</span>
              <span class="mainTitle">Please Login to Customize 3D Printer</span>
            </h4>
          </div>
        </section>
      </div>
      {% endif %}
    </main>
    {% include "home/footer.html" %}

{% endblock content %}

{% block js %}
    <script type="text/javascript">
    $(document).ready(function() {
        //$("#Knob").prop("checked", true);
        {% for bed in bed_size %}
            var id = "{{ bed.field_name }}" + '_' + "{{ bed.title }}";
            var  ele = document.getElementById(id);
            ele.onclick = function (){
                var selector = document.getElementById('h_select');
                while (selector.options.length > 0) {
                    selector.remove(0);
                }
                var max_lin = {{ bed.highest_height }};
                var min_lin = {{ bed.lowest_height }};
                var bed_s = "{{ bed.title }}";
                {% for h in height %}
                var height = {{ h.title }};
                var bed_s2 = "{{ h.bed_size }}";
                if(height >= min_lin && height <= max_lin && bed_s2 === bed_s){
                    const newOption = document.createElement('option');
                    const optionText = document.createTextNode('{{ h.title }}');
                    newOption.appendChild(optionText);
                    newOption.setAttribute('value','{{ h.title }}');
                    selector.appendChild(newOption);
                }
                {% endfor %}
                update_price();
            }
        {% endfor %}
        update_price();
        var val = document.querySelectorAll('[type="radio"]');

        for(var i = 0; i < val.length; i++){
            var id = val[i].id;
            id = id.slice(0,8);
            if(id != 'bed_size'){
                val[i].onclick = function (){
                    update_price();
                }
            }
        }
    });
    function update_price(){
        var price = 0.0;
        var val = document.querySelectorAll('[type="radio"]');
        var selected_bed = '';
        var selected_abl = '';
        var selected_cover = '';
        var selected_display = '';
        var selected_filament_chamber = '';
        var selected_filament_quantity = '';
        var selected_height = '';
        var selected_motor_driver = '';
        var selected_nozzle = '';
        var selected_ups = '';
        var selected_wifi = '';
        for(var i = 0; i < val.length; i++){
            if(val[i].checked){
                for(var j = 0; j < 1; j++){
                    {% for bed in bed_size %}
                    var id = "{{ bed.field_name }}" + '_' + "{{ bed.title }}";
                    if(id === val[i].id){
                        selected_bed = val[i].value;
                        price = price + {{ bed.price }};
                        break;
                    }
                    {% endfor %}
                }
                for(var j = 0; j < 1; j++){
                    {% for ele in abls %}
                    var id = "{{ ele.field_name }}" + '_' + "{{ ele.title }}";
                    if(id === val[i].id){
                        selected_abl = val[i].value;
                        price = price + {{ ele.price }};
                        break;
                    }
                    {% endfor %}
                }
                for(var j = 0; j < 1; j++){
                    {% for ele in cover %}
                    var id = "{{ ele.field_name }}" + '_' + "{{ ele.title }}";
                    if(id === val[i].id){
                        selected_cover = val[i].value;
                        price = price + {{ ele.price }};
                        break;
                    }
                    {% endfor %}
                }
                for(var j = 0; j < 1; j++){
                    {% for ele in display %}
                    var id = "{{ ele.field_name }}" + '_' + "{{ ele.title }}";
                    if(id === val[i].id){
                        selected_display = val[i].value;
                        price = price + {{ ele.price }};
                        break;
                    }
                    {% endfor %}
                }
                for(var j = 0; j < 1; j++){
                    {% for ele in filament_chamber %}
                    var id = "{{ ele.field_name }}" + '_' + "{{ ele.title }}";
                    if(id === val[i].id){
                        selected_filament_chamber = val[i].value;
                        price = price + {{ ele.price }};
                        break;
                    }
                    {% endfor %}
                }
                for(var j = 0; j < 1; j++){
                    {% for ele in filament_quantity %}
                    var id = "{{ ele.field_name }}" + '_' + "{{ ele.title }}";
                    if(id === val[i].id){
                        selected_filament_quantity = val[i].value;
                        price = price + {{ ele.price }};
                        break;
                    }
                    {% endfor %}
                }
                for(var j = 0; j < 1; j++){
                    {% for ele in motor_driver %}
                    var id = "{{ ele.field_name }}" + '_' + "{{ ele.title }}";
                    if(id === val[i].id){
                        selected_motor_driver = val[i].value;
                        price = price + {{ ele.price }};
                        break;
                    }
                    {% endfor %}
                }
                for(var j = 0; j < 1; j++){
                    {% for ele in nozzle %}
                    var id = "{{ ele.field_name }}" + '_' + "{{ ele.title }}";
                    if(id === val[i].id){
                        selected_nozzle = val[i].value;
                        price = price + {{ ele.price }};
                        break;
                    }
                    {% endfor %}
                }
                for(var j = 0; j < 1; j++){
                    {% for ele in ups_module %}
                    var id = "{{ ele.field_name }}" + '_' + "{{ ele.title }}";
                    if(id === val[i].id){
                        selected_ups = val[i].value;
                        price = price + {{ ele.price }};
                        break;
                    }
                    {% endfor %}
                }
                for(var j = 0; j < 1; j++){
                    {% for ele in wifi %}
                    var id = "{{ ele.field_name }}" + '_' + "{{ ele.title }}";
                    if(id === val[i].id){
                        selected_wifi = val[i].value;
                        price = price + {{ ele.price }};
                        break;
                    }
                    {% endfor %}
                }

            }
        }
        var height = document.getElementById('h_select').value;
        for(var j = 0; j < 1; j++){
            {% for h in height %}
            var height2 = "{{ h.title }}";
            var bed_size_2 = "{{ h.bed_size }}";
            if(height2 === height){
                if(bed_size_2 === selected_bed){
                    selected_height = {{ h.title }};
                    price = price + {{ h.price }};
                    break;
                }
            }
            {% endfor %}
        }
        var out = "" + price + " BDT";
        document.getElementById("final_price").innerHTML = out;
        return [price, selected_abl, selected_bed, selected_cover, selected_display, selected_filament_chamber, selected_filament_quantity, selected_height, selected_motor_driver, selected_nozzle, selected_ups, selected_wifi];
    }
    </script>

    <script type="text/javascript">
    var save_data = function(){
        var returned_value = update_price();
        $.ajax({
            url: "{% url 'save_form' %}",
            method: 'GET',
            dataType : "json",
            data: {
                'price': returned_value[0],
                'abls': returned_value[1],
                'bed_size': returned_value[2],
                'cover': returned_value[3],
                'display': returned_value[4],
                'filament_chamber': returned_value[5],
                'filament_quantity': returned_value[6],
                'height': returned_value[7],
                'motor_driver': returned_value[8],
                'nozzle': returned_value[9],
                'ups_module': returned_value[10],
                'wifi': returned_value[11]
            },
            success: function(response){
                alert("Successfully placed your order");
                location.href="/";
            },
            error: function(error){
                console.log(error);
                console.log("error");
            }
        });
    }
    </script>

    <script type="text/javascript">
    function place_known_order(printer_name){
        var price = 0;
        var selected_abl = "";
        var selected_bed = "";
        var selected_cover = "";
        var selected_display = "";
        var selected_filament_chamber = "";
        var selected_filament_quantity = "";
        var selected_height = "";
        var selected_motor_driver = "";
        var selected_nozzle = "";
        var selected_ups = "";
        var selected_wifi = "";
        {% for offer in best_offers %}
        var printer = "{{ offer.title }}";
        if(printer === printer_name){
            price = {{ offer.price }};
            selected_abl = "{{ offer.abl }}";
            selected_bed = "{{ offer.bed_size }}";
            selected_cover = "{{ offer.cover }}";
            selected_display = "{{ offer.display }}";
            selected_filament_chamber = "{{ offer.filament_chamber }}";
            selected_filament_quantity = "{{ offer.filament }}";
            selected_height = "{{ offer.height }}";
            selected_motor_driver = "{{ offer.motor_driver_type }}";
            selected_nozzle = "{{ offer.nozzle }}";
            selected_ups = "{{ offer.ups_module }}";
            selected_wifi = "{{ offer.wifi }}";
            save_data_2([price, selected_abl, selected_bed, selected_cover, selected_display, selected_filament_chamber, selected_filament_quantity, selected_height, selected_motor_driver, selected_nozzle, selected_ups, selected_wifi]);

        }
        {% endfor %}
    }
    var save_data_2 = function(get_val){
        var returned_value = get_val;
        $.ajax({
            url: "{% url 'save_form' %}",
            method: 'GET',
            dataType : "json",
            data: {
                'price': returned_value[0],
                'abls': returned_value[1],
                'bed_size': returned_value[2],
                'cover': returned_value[3],
                'display': returned_value[4],
                'filament_chamber': returned_value[5],
                'filament_quantity': returned_value[6],
                'height': returned_value[7],
                'motor_driver': returned_value[8],
                'nozzle': returned_value[9],
                'ups_module': returned_value[10],
                'wifi': returned_value[11]
            },
            success: function(response){
                alert("Successfully placed your order");
                location.href="/";
            },
            error: function(error){
                console.log(error);
                console.log("error");
            }
        });
    }
    </script>

{% endblock js %}
