{% extends "home/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
    {% include "home/header.html" %}
    <div class="space">

    </div>
    <div class="c_container">
        <h1 class="completeProfile__header">Upload your 3D model file</h1>
        <div class="row">
            <div class="col-md" id="3d_viewer">

            </div>
            <div class="col-md" id="form_3d">
                <form id="frm" enctype="multipart/form-data" method="POST" novalidate="">
                    {% csrf_token %}
                    <label for="file-selector" class="productName margin-bottom-24">Upload .stl/.zip file of your 3D model</label>
                    <!--<input name="model_file" class="form-control margin-bottom-24 form-control-lg" type="file" id="file-selector" accept=".stl, .zip" />-->
                    {% render_field form.model_file class+="form-control margin-bottom-24 form-control-lg" id="file-selector" accept=".stl, .zip" %}
                </form>
                <form id="frm2" method="POST">
                    <label  class="productName margin-bottom-24">Your requirement</label>
                    <textarea name="message" placeholder="Enter your requirements here..."></textarea>

                    <div class="row selector">
                        <span class="productName">Material</span>
                            <div class="row selector">
                                <div class="col-2">
                                    <input
                                        type="radio"
                                        name="material"
                                        id="pla"
                                        class="hidebx"
                                        value="PLA"
                                        checked
                                    /><label for="pla" class="lbl-redio">PLA</label>
                                </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="material"
                                    id="abs"
                                    class="hidebx"
                                    value="ABS"
                                /><label for="abs" class="lbl-redio">ABS</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="material"
                                    id="tpu"
                                    class="hidebx"
                                    value="TPU"
                                /><label for="tpu" class="lbl-redio">TPU</label>
                            </div>
                            <div class="col">
                                <input
                                    type="radio"
                                    name="material"
                                    id="petg"
                                    class="hidebx"
                                    value="PETG"
                                /><label for="petg" class="lbl-redio">PETG</label>
                            </div>
                        </div>
                    </div>
                    <div class="custom-radios">
                        <span class="productName">Color</span>
                        <div>
                            <input type="radio" id="color-1" name="color" value="White" checked>
                            <label for="color-1">
                                <span>
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                                </span>
                            </label>
                        </div>

                        <div>
                            <input type="radio" id="color-2" name="color" value="Black">
                            <label for="color-2">
                                <span>
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                                </span>
                            </label>
                        </div>

                        <div>
                            <input type="radio" id="color-3" name="color" value="Grey">
                            <label for="color-3">
                                <span>
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                                </span>
                            </label>
                        </div>

                        <div>
                            <input type="radio" id="color-4" name="color" value="Orange">
                            <label for="color-4">
                                <span>
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                                </span>
                            </label>
                        </div>
                        <div>
                        <input type="radio" id="color-5" name="color" value="Red">
                            <label for="color-5">
                                <span>
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                                </span>
                            </label>
                        </div>
                        <div>
                        <input type="radio" id="color-6" name="color" value="Green">
                            <label for="color-6">
                                <span>
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                                </span>
                            </label>
                        </div>
                        <div>
                            <input type="radio" id="color-7" name="color" value="Blue">
                            <label for="color-7">
                                <span>
                                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/242518/check-icn.svg" alt="Checked Icon" />
                                </span>
                            </label>
                        </div>
                    </div>
                    <span class="productName">Infill</span>
                    <div class="range mb-5">
                        <div class="sliderValue">
                            <span id="slider_span">0</span>
                        </div>
                        <div class="sliderField">
                            <div class="value left">0</div>
                            <input type="range" name="infill" id="slider" min="0" max="100" value="50" steps="1">
                            <div class="value right">100</div>
                        </div>
                    </div>
                    <div class="printing-details">
                        <div class="productName">Your Printing Details</div>
                        <h4>Volume: <span id="vol_span">0.00</span> Cubic Centimeter</h4>
                        <h4>Weight: <span id="w_span">0.00</span> gm</h4>
                        <h4>Material: <span id="mat_span">PLA</span></h4>
                        <h4>Color: <span id="col_span">White</span></h4>
                        <h4>Infill: <span id="infill_span">0</span> %</h4>
                        <h3 class="mt-4">Price: <span id="price_span">0.00</span> BDT</h3>
                        <p class="warning my-5">** NOTE: Price is calculated without considering any support or adhesion. Price may increase if support or adhesion is needed. The price shown is estimated based on the volume of the model. It may vary **</p>
                    </div>

                    <input type="submit" id="submit_btn">
                </form>
            </div>
        </div>

    </div>
{% include "home/footer.html" %}
{% endblock content %}

{% block js %}
    <script src="{% static 'home/js/three.js' %}"></script>
    <script src="{% static 'home/js/STLLoader.js' %}"></script>
    <script src="{% static 'home/js/OrbitControls.js' %}"></script>
    <script src="{% static 'home/js/Detector.js' %}"></script>
    <script src="{% static 'home/js/dat.gui.min.js' %}"></script>
    <script src="{% static 'home/js/ConvexGeometry.js' %}"></script>
    <script>
        if ( ! Detector.webgl ) Detector.addGetWebGLMessage();
        document.getElementById('frm').reset();
        document.getElementById('frm2').reset();
        var camera, scene, renderer;
        var file_data;
        let gui;
        let mesh;
        var dense, prc, infill;
        var is_zip = false;
        var discount = {{profile.discount_percentage}};
        const API = {
            rotateX: 0,
            rotateY: 0,
            rotateZ: 0
        }
        const density = {
            abs: 1.15,
            pla: 1.25,
            petg: 1.4,
            tpu: 1.21
        }
        const price = {
            abs: 19,
            pla: 10,
            petg: 22,
            tpu: 25
        }
        var vol = 0.00;
        var wt = 0.00;
        var pr = 0.00;
        var ar = 0.00;

        var abs = document.getElementById('abs');
        var pla = document.getElementById('pla');
        var tpu = document.getElementById('tpu');
        var petg = document.getElementById('petg');

        var white = document.getElementById('color-1');
        var black = document.getElementById('color-2');
        var grey = document.getElementById('color-3');
        var orange = document.getElementById('color-4');
        var red = document.getElementById('color-5');
        var green = document.getElementById('color-6');
        var blue = document.getElementById('color-7');


        abs.onclick = function (){
            dense = density.abs;
            prc = price.abs;
            document.getElementById('mat_span').innerHTML = "ABS";
            showDetail();
        }
        pla.onclick = function (){
            dense = density.pla;
            prc = price.pla;
            document.getElementById('mat_span').innerHTML = "PLA";
            showDetail();
        }
        tpu.onclick = function (){
            dense = density.tpu;
            prc = price.tpu;
            document.getElementById('mat_span').innerHTML = "TPU";
            showDetail();
        }
        petg.onclick = function (){
            dense = density.petg;
            prc = price.petg;
            document.getElementById('mat_span').innerHTML = "PETG";
            showDetail();
        }

        white.onclick = function (){
            document.getElementById('col_span').innerHTML = "White";
        }
        black.onclick = function (){
            document.getElementById('col_span').innerHTML = "Black";
        }
        grey.onclick = function (){
            document.getElementById('col_span').innerHTML = "Grey";
        }
        orange.onclick = function (){
            document.getElementById('col_span').innerHTML = "Orange";
        }
        red.onclick = function (){
            document.getElementById('col_span').innerHTML = "Red";
        }
        green.onclick = function (){
            document.getElementById('col_span').innerHTML = "Green";
        }
        blue.onclick = function (){
            document.getElementById('col_span').innerHTML = "Blue";
        }

        var val = document.querySelectorAll('[type="radio"]');

        for(var i = 0; i < val.length; i++){
            if(val[i].checked){
                if(val[i].id === 'pla'){
                    dense = density.pla;
                    prc = price.pla;
                    document.getElementById('mat_span').innerHTML = "PLA";
                }
                else if(val[i].id === 'tpu'){
                    dense = density.tpu;
                    prc = price.tpu;
                    document.getElementById('mat_span').innerHTML = "TPU";
                }
                else if(val[i].id === 'abs'){
                    dense = density.abs;
                    prc = price.abs;
                    document.getElementById('mat_span').innerHTML = "ABS";
                }
                else if(val[i].id === 'petg'){
                    dense = density.petg;
                    prc = price.petg;
                    document.getElementById('mat_span').innerHTML = "PETG";
                }
                else if(val[i].id === 'color-1'){
                    document.getElementById('col_span').innerHTML = "White";
                }
                else if(val[i].id === 'color-2'){
                    document.getElementById('col_span').innerHTML = "Black";
                }
                else if(val[i].id === 'color-3'){
                    document.getElementById('col_span').innerHTML = "Grey";
                }
                else if(val[i].id === 'color-4'){
                    document.getElementById('col_span').innerHTML = "Orange";
                }
                else if(val[i].id === 'color-5'){
                    document.getElementById('col_span').innerHTML = "Red";
                }
                else if(val[i].id === 'color-6'){
                    document.getElementById('col_span').innerHTML = "Green";
                }
                else if(val[i].id === 'color-7'){
                    document.getElementById('col_span').innerHTML = "Blue";
                }
            }
        }

        const slideValue = document.getElementById('slider_span');
        const inputSlider = document.getElementById('slider');
        slideValue.style.left = (inputSlider.value) + "%"
        slideValue.textContent = inputSlider.value;
        document.getElementById('infill_span').innerHTML = (inputSlider.value);
        infill = inputSlider.value/100;
        inputSlider.oninput = (() =>{
            let value = inputSlider.value;
            slideValue.textContent = value;
            slideValue.style.left = (value) + "%";
            slideValue.classList.add("show");
            document.getElementById('infill_span').innerHTML = (value);
            infill = value/100;
            showDetail();
        });
        inputSlider.onblur = (()=>{
            slideValue.classList.remove("show");
        });
        //var WIDTH = window.innerWidth / 2.2;
        //var HEIGHT = window.innerHeight / 2.2;
        var MAX_WIDTH = 900;
        var MAX_HEIGHT = window.innerHeight/1.5;
        var WIDTH = document.getElementById("form_3d").offsetWidth;
        var HEIGHT = document.getElementById("form_3d").offsetHeight;
        if(WIDTH>MAX_WIDTH){
          WIDTH = MAX_WIDTH;
        }
        if(HEIGHT>MAX_HEIGHT){
          HEIGHT = MAX_HEIGHT;
        }
        init();

        function init() {

            scene = new THREE.Scene();
            scene.add( new THREE.AmbientLight( 0xFFFFFF ) );
            scene.background = new THREE.Color( 0x72645b );

            camera = new THREE.PerspectiveCamera( 35, WIDTH / HEIGHT, 1, 1500 );


            camera.up.set( 0, 0, 1 );
            camera.position.set( 0, 250, 250 );

            camera.add( new THREE.PointLight( 0xffffff, 0.8 ) );

            scene.add( camera );
            let grid = new THREE.GridHelper( 400, 40, 0x000000, 0xffffff );
            grid.rotateOnAxis( new THREE.Vector3( 1, 0, 0 ), 90 * ( Math.PI/180 ) );
            scene.add( grid );

            renderer = new THREE.WebGLRenderer( { antialias: true } );
            renderer.setClearColor( 0x999999 );
            renderer.setPixelRatio( window.devicePixelRatio );
            renderer.setSize( WIDTH, HEIGHT );
            document.getElementById("3d_viewer").innerHTML = "";
            document.getElementById("3d_viewer").append( renderer.domElement );
            var controls = new THREE.OrbitControls( camera, renderer.domElement );
            controls.addEventListener( 'change', render );
            controls.target.set( 0, 1.2, 2 );
            controls.update();

            let loader = new THREE.STLLoader();
            const promise = loader.loadAsync(file_data);
            // Binary files

            promise.then(function ( geometry ) {
                //geometry.computeFaceNormals();
                //geometry.computeVertexNormals();

                //var convexGeometry = new THREE.ConvexGeometry(geometry.vertices);
                let material = new THREE.MeshPhongMaterial( { color: 0xAABB55, specular: 0x111111, shininess: 200 } );
                mesh = new THREE.Mesh( geometry, material );

                mesh.position.set( 0, 0, 0 );
                mesh.rotation.set( 0, 0, 0 );
                mesh.scale.set( 1, 1, 1 );
                //mesh.rotateX(-90 * ( Math.PI/180 ) );
                mesh.rotateX(0);
                mesh.rotateY(0);
                mesh.rotateZ(0);

                mesh.castShadow = true;
                mesh.receiveShadow = true;

                //var vol = calculateVolume(geometry);
                //alert(vol);
                scene.add( mesh );
                updateUvTransform();
                initGui();
                render();
                //alert((Math.round(getVolume(geometry))/1000) + "cm^3");
                var v_a = getVolume(geometry);
                vol = Math.round(v_a)/1000;
                //wt = (Math.round(v_a*dense)/1000).toFixed(2);
                //pr = (wt * prc).toFixed(2);
                var sur_ar = CalculateSurfaceArea(geometry);
                ar = sur_ar * 0.12;
                showDetail();
            });

            window.addEventListener( 'resize', onWindowResize, false );

        }

        function showDetail(){
            if(is_zip){
                document.getElementById('vol_span').innerHTML = 'Can not determine the volume in';
                document.getElementById('w_span').innerHTML = 'Can not determine the weight in';
                document.getElementById('price_span').innerHTML = 'Can not determine the price in';
            }
            else{
                var inf_vol;
                if(vol-ar < 0){
                    inf_vol = vol;
                }
                else{
                    inf_vol = ar + (vol - ar)*infill;
                }
                wt = (inf_vol*dense).toFixed(2);
                var vol_f = inf_vol.toFixed(2);
                pr = wt * prc;
                pr = pr - pr*(discount/100);
                pr = pr.toFixed(2)
                document.getElementById('vol_span').innerHTML = vol_f;
                document.getElementById('w_span').innerHTML = wt;
                document.getElementById('price_span').innerHTML = pr;
            }
        }

        function onWindowResize() {
            var MAX_WIDTH = 900;
            var MAX_HEIGHT = window.innerHeight/1.5;
            var WIDTH = document.getElementById("form_3d").offsetWidth;
            var HEIGHT = document.getElementById("form_3d").offsetHeight;

            if(WIDTH>MAX_WIDTH){
              WIDTH = MAX_WIDTH;
            }
            if(HEIGHT>MAX_HEIGHT){
              HEIGHT = MAX_HEIGHT;
            }
            camera.aspect = WIDTH / HEIGHT;
            camera.updateProjectionMatrix();

            renderer.setSize( WIDTH, HEIGHT );

            render();

        }

        function render() {
            renderer.render( scene, camera );
        }

        function updateUvTransform() {

            //mesh.rotateX(-90 * ( Math.PI/180 ) );
            mesh.rotation.x = (API.rotateX * ( Math.PI/180 ));
            mesh.rotation.y = (API.rotateY * ( Math.PI/180 ));
            mesh.rotation.z = (API.rotateZ * ( Math.PI/180 ));

            render();

        }

        function initGui() {
            var myEle = document.getElementById("gui");
            if(myEle){
                myEle.remove();
            }
            gui = new dat.GUI();
            gui.domElement.id = 'gui';
            gui.add( API, 'rotateX', 0, 360 ).name( 'rotateX' ).onChange( updateUvTransform );
            gui.add( API, 'rotateY', 0, 360 ).name( 'rotateY' ).onChange( updateUvTransform );
            gui.add( API, 'rotateZ', 0, 360 ).name( 'rotateZ' ).onChange( updateUvTransform );

        }

        function getVolume(geometry) {
            let position = geometry.attributes.position;
            let faces = position.count / 3;
            let vol = 0;
            let p1 = new THREE.Vector3(),
                p2 = new THREE.Vector3(),
                p3 = new THREE.Vector3();
            for (let i = 0; i < faces; i++) {
                p1.fromBufferAttribute(position, i * 3 + 0);
                p2.fromBufferAttribute(position, i * 3 + 1);
                p3.fromBufferAttribute(position, i * 3 + 2);
                vol += signedVolumeOfTriangle(p1, p2, p3);

            }
            return vol;

        }

        function signedVolumeOfTriangle(p1, p2, p3) {
            return p1.dot(p2.cross(p3)) / 6.0;
        }



        function CalculateSurfaceArea(geometry) {

            var area = 0.0;
            //alert([geometry.attributes.position.getX(1), geometry.attributes.position.array[3], geometry.attributes.position.getY(1), geometry.attributes.position.array[4], geometry.attributes.position.getZ(1), geometry.attributes.position.array[5]]);
            for (var i = 0; i < geometry.attributes.position.count/3; i++) {

                //var a = geometry.faces[i].a;
                //var b = geometry.faces[i].b;
                //var c = geometry.faces[i].c;
                var x, y, z;

                x = geometry.attributes.position.getX(i * 3 + 0);
                y = geometry.attributes.position.getY(i * 3 + 0);
                z = geometry.attributes.position.getZ(i * 3 + 0);

                var p1 = new THREE.Vector3(x, y, z);

                x = geometry.attributes.position.getX(i * 3 + 1);
                y = geometry.attributes.position.getY(i * 3 + 1);
                z = geometry.attributes.position.getZ(i * 3 + 1);

                var p2 = new THREE.Vector3(x, y, z);

                x = geometry.attributes.position.getX(i * 3 + 2);
                y = geometry.attributes.position.getY(i * 3 + 2);
                z = geometry.attributes.position.getZ(i * 3 + 2);

                var p3 = new THREE.Vector3(x, y, z);

                area += AreaOfTriangle(p1, p2, p3);
            }

             return (area/100).toFixed(2);
        }

        function AreaOfTriangle(p1, p2, p3){
            var v1 = new THREE.Vector3();
            var v2 = new THREE.Vector3();

            v1 = p1.clone().sub(p2);
            v2 = p1.clone().sub(p3);

            var v3 = new THREE.Vector3();

            v3.crossVectors(v1,v2);
            var s = v3.length()/2;
            return s
        }


        if (window.FileList && window.File && window.FileReader) {
            document.getElementById('file-selector').addEventListener('change', event => {
                const file = event.target.files[0];
                const reader = new FileReader();
                reader.addEventListener('load', event => {
                    if(file.type === 'model/stl'){
                        file_data = event.target.result;
                        init();
                        is_zip = false;
                    }
                    else{
                        file_data = '';
                        is_zip = true;
                        showDetail();
                        init();
                    }

                });
                reader.readAsDataURL(file);
            });
        }

        $('#frm2').submit(function (e){
            e.preventDefault();
            var other_data = new FormData(this);
            var file_data = new FormData(document.getElementById('frm'));
            if(other_data.get("message") === "" || file_data.get("model_file") === ""){
                alert("Please fill up all the fields...");
            }
            else{
                var weight = document.getElementById('w_span').innerHTML;
                var volume = document.getElementById('vol_span').innerHTML;
                var price = document.getElementById('price_span').innerHTML;
                if(document.getElementById('price_span').innerHTML === 'Can not determine the price in'){
                    weight = "0.00";
                    volume = "0.00";
                    price = "0.00";
                }
                var token = '{{ csrf_token }}';
                $.ajax({
                    url: "{% url 'save_print_form' %}",
                    type: 'POST',
                    data: {
                        'description': other_data.get("message"),
                        'color': other_data.get("color"),
                        'material': other_data.get("material"),
                        'infill': other_data.get("infill"),
                        'weight': weight,
                        'volume': volume,
                        'price': price
                    },
                    headers: {'X-CSRFToken': token},
                    success: function (response) {
                        $.ajax({
                            url: "{% url 'save_print_file' pk=9 %}".replace('9', response.order_id),
                            type: 'POST',
                            data: file_data,
                            cache: false,
                            processData: false,
                            contentType: false,
                            success: function (response) {
                                alert("Successfully placed your order");
                                location.href="/";
                            },
                            error: function(error){
                                console.log(error);
                                console.log("error");
                                alert("An error occurred placing your order");
                            }
                        });
                    },
                    error: function(error){
                        console.log(error);
                        console.log("error");
                        alert("An error occurred placing your order");
                    }
                });
            }
        });
    </script>
{% endblock js %}