@font-face {
  src: url(web_fonts/BebasNeue-Regular.ttf);
  font-family: bebas;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  background: #fafafa;
  margin-top: 50px;
  color: #f2f2f2;
}


ul {
  margin: 0;
}
.bg-steel {
  background-color: white;
}


.site-header .navbar-nav .nav-link {
  color: #000000;
}

.site-header .navbar-nav .nav-link:hover {
  color: #0a558c;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
}

.dropdown {

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #0a558c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.site-content{
  position: absolute;
  top: 60px;
  height: auto;
  width: 100%;
  background-color: whitesmoke;
}

.welcome_bg {
  background-image: linear-gradient(to top right, #a61731, rgba(242, 126, 157, 0.77)), url(../images/background-img.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: auto;
  width: 100%;
  overflow: hidden;
  padding-bottom: 50px;
}

.header__img {
  transform: translate(0%, 20%);
}
.header__img-size {
  width: 100%;
  height: auto;
  animation-name: moveInTop;
  animation-duration: 1s;
}

.header__info {
  margin: 50px 60px 70px 60px;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

.header__info-top {
  font-size: 18px;
  font-weight: lighter;
  margin-bottom: 12px;
  display: block;
  animation-name: moveInTop;
  animation-duration: 1s;
}
.header__info-title {
  font-family: bebas, "Poppins", sans-serif;
  font-size: 40px;
  margin-bottom: 10px;
  letter-spacing: 5px;
  animation-name: moveInTop;
  animation-duration: 1s;
}
.header__info-product_dis {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 0;
  animation-name: moveInTop;
  animation-duration: 1s;
}
.header__info-learn_more {
  text-decoration: none;
  font-size: 16px;
  font-weight: lighter;
  color: #f2f2f2;
  display: block;
  animation-name: moveInTop;
  animation-duration: 1s;
}
.header__info-learn_more:hover {
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 300;
}
.header__info-special_feature {
  margin-top: 32px;
  font-family: bebas, "Poppins", sans-serif;
  font-size: 24px;
  margin-bottom: 16px;
  display: block;
  animation-name: moveInTop;
  animation-duration: 1s;
}
.header__info-feature {
  font-size: 16px;
  font-weight: lighter !important;
  color: #f2f2f2;
  margin-top: 10px;
  display: block;
  animation-name: moveInTop;
  animation-duration: 1s;
}
.header__info-price {
  margin-top: 62px;
  font-size: 48px;
  font-family: bebas, "Poppins", sans-serif;
  display: block;
  animation-name: moveInTop;
  animation-duration: 1s;
  margin-bottom: 5px;
  color: white !important;
}

.carousel-control-prev {
  width: 60px;
}

.button:link, .button:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-family: bebas, "Poppins", sans-serif;
  font-size: 36px;
  animation-name: moveInTop;
  animation-duration: 1s;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.2s;
}

.button-white {
  background-color: #f2f2f2;
  color: #f21d44;
  padding: 29px;
  animation-name: moveInTop;
  animation-duration: 1s;
  margin-right: 64px;
  margin-top: 40px;
}
.button-white:hover {
  padding: 29px 50px;
}

.button-outline {
  border-color: #f2f2f2;
  border: 2px solid;
  color: #f2f2f2;
  padding: 27px 70px;
  animation-name: moveInTop;
  animation-duration: 1s;
  margin-top: 40px;
}
.button-outline:hover {
  padding: 29px 90px;
}

.button:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #f21d44;
  border: 0;
  color: #f2f2f2;
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.productCard {
  height: auto;
  width: 100%;
  z-index: 1;
  transition: all 0.2s;
}

.productCard_outer_div{
  max-width: 33%;
}

.padding_0{
  padding-right:0;
  padding-left:0;
}

.margin_0 {
  margin-left: 0px;
  margin-right:  0px;
}

.productCard__info {
  color: #f21d44;
  margin: 0 0;

}
.productCard__info-title {
  font-size: 40px;
  font-family: bebas, "Poppins", sans-serif;
  margin-bottom: 14px;
}
.productCard__info-special_feature {
  font-size: 24px;
  font-family: bebas, "Poppins", sans-serif;
  display: block;
}
.productCard__info-feature {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}
.productCard__info-price {
  font-size: 32px;
  display: block;
  margin-bottom: 32px;
  font-family: bebas, "Poppins", sans-serif;
}
.productCard__img {
  right: 25px;
  top: 90px;
}
.productCard__img-size {
  width: 100%;
  height: auto;
}

.buttonSmall-red {
  background-color: #f21d44;
  color: #f2f2f2;
  padding: 10px 24px;
  font-size: 20px;
  display: initial;
  border-radius: 6px;
  transition: all 0.2s;
}
.buttonSmall-red:hover {
  padding: 13px 30px;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  color: #f21d44;
  border: 0;
}
.buttonSmall-red:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}
.buttonSmall-red:link, .buttonSmall-red:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-family: bebas, "Poppins", sans-serif;
}

.buttonSmall-outlineRed {
  border-color: #f21d44;
  border: 2px solid;
  color: #f21d44;
  padding: 12px 26px;
  font-size: 20px;
  display: initial;
  border-radius: 6px;
  transition: all 0.2s;
}
.buttonSmall-outlineRed:hover {
  padding: 16px 32px;
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #f2f2f2;
  color: #f21d44;
  border: 0;
}
.buttonSmall-outlineRed:hover {
  transform: translateY(-1px);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.2);
}
.buttonSmall-outlineRed:link, .buttonSmall-outlineRed:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-family: bebas, "Poppins", sans-serif;
}

.pColor1 {
  background-color: #fbe4e4;
}

.pColor2 {
  background-color: #f2f2f2;
}

.topTitle {
  margin-top: 40px;
  text-align: center;
}

.subTitle {
  display: block;
  font-size: 26px;
  font-weight: 300;
  color: #330009;
}

.mainTitle {
  display: block;
  font-size: 42px;
  margin-top: 5px;
  font-family: bebas, "Poppins", sans-serif;
  color: #330009;
}

.infoBox {
  margin-top: 60px;
}

.selector {
  margin-bottom: 30px;
}

.hidebx {
  display: none;
}

.lbl-redio {
  text-align: center;
  padding: 5px 16px;
  cursor: pointer;
  border-radius: 6px;
  font-size: 18px;
  color: #330009;
}

.lbl-redio:hover {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
}

input[type="radio"]:checked + .lbl-redio {
  background-color: #f21d44;
  color: #f2f2f2;
}

.productName {
  font-family: bebas, "Poppins", sans-serif;
  color: #f21d44;
  font-size: 26px;
}

.form-select {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  padding: 4px 16px;
  border: 2px solid;
  border-color: #f21d44;
  border-radius: 6px;
  color: #330009;
}

.footer-custom {
  width: 100%;
  height: auto;
}

.footer-custom-inner-div {
  width: 100%;
  height: auto;
  background-color: #444444;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.footer-custom-inner-div-col-div-1 {
  max-width: 25%;
}

.footer-custom-inner-div-col-div-1-a-1 {
  font-size: 25px;
  font-weight: 30;
  color: whitesmoke !important;
}

.footer-custom-inner-div-col-div-1-a-2 {
  font-size: 13px; font-weight: 100; color: whitesmoke !important;
}

.footer-custom-inner-div-col-div-1-inner-div {
  width: 100%;
}

.footer-custom-inner-div-col-div-1-inner-div-inner-div {
  float: left;
}

.footer-custom-inner-div-col-div-1-inner-div-inner-div-img {
  width: 70px;
  height: 70px;
}

.footer-custom-inner-div-col-div-1-inner-div-inner-div-2 {
  margin-left: 80px;
  padding-top: 20px;
}

.footer-custom-inner-div-col-div-1-inner-div-inner-div-2-a {
  font-size: 18px;
  font-weight: 300;
  color: whitesmoke !important;
}

.footer-custom-inner-div-col-div-2 {
  max-width: 25%;
}

.footer-custom-inner-div-col-div-2-a-1 {
  font-size: 23px;
  font-weight: 30;
  color: whitesmoke !important;
}

.footer-custom-inner-div-col-div-2-a-2 {
  font-size: 18px;
  font-weight: 100;
  color: whitesmoke !important;
}

.footer-custom-inner-div-col-div-3 {
  max-width: 25%;
}

.footer-custom-inner-div-col-div-3-a-1 {
  font-size: 23px;
  font-weight: 30;
  color: whitesmoke !important;
}

.footer-custom-inner-div-col-div-3-a-2 {
  font-size: 16px;
  font-weight: 100;
  color: whitesmoke !important;
}

.footer-custom-inner-div-col-div-4 {
  max-width: 25%;
  text-align: center;
}

.footer-custom-inner-div-col-div-4-img {
  width: 200px;
  height: 200px;
}

.hide_it {
  display: none;
}

@-webkit-keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1}
  to {opacity: 1}
}

@keyframes moveInTop {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (max-width: 1000px) {
  .footer-custom-inner-div {
    width: 100%;
    height: auto;
    background-color: #444444;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .dropdown {float: none;}
  .dropdown-content {
    position: relative;
    background-color: white;
    width: 100px;
    box-shadow: none;
    z-index: 0;
  }
  .footer-custom-inner-div-col-div-1 {
    max-width: 100%;
  }
  .footer-custom-inner-div-col-div-2 {
    max-width: 100%;
  }
  .footer-custom-inner-div-col-div-3 {
    max-width: 100%;
  }
  .footer-custom-inner-div-col-div-4 {
    max-width: 100%;
  }
  .footer-custom-inner-div {
    width: 100%;
    height: auto;
    background-color: #444444;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
